<div class="products-container">
  <section class="categories-listing">
    <ul *ngFor="let item of Categories">
      <li *ngIf="item.enabled">{{ item.name }}</li>
    </ul>
  </section>

  <section class="category-dropdown">
    <select class="dropdown_select" name="dropdown" >
      <ng-container *ngFor="let item of Categories">
        <option *ngIf="item.enabled"  [selected]='selectedoption' value="item.key">{{item.name}}</option>
      </ng-container>
     </select>
  </section>

  <section class="products-listing">
    <div class="product-item"  *ngFor="let item of products">
      <h3 class="item-name">{{ item.name }}</h3>
      <div class="product-desc">
         <img [src]="item.imageURL" alt="item.name">
         <p class="desc">{{item.description}}</p>
      </div>
      <div class="split-btn">
        <p>{{"MRP RS." +item.price }}</p>
        <button>{{ "Buy Now" }}</button>
      </div>
      <button class="full-btn">{{ "Buy Now @ Rs." + item.price }}</button>
    </div>
  </section>
</div>
