<div class="products-container">
  <!-- products category side navbar => tablet and higher views -->
  <aside class="categories-listing">
    <ul *ngFor="let item of Categories">
      <li *ngIf="item.enabled" (click)="categorySelection(item)" [ngClass]="{active: item.id ===selectedCategoryId}">{{ item.name }}</li>
    </ul>
  </aside>

  <!-- products category dropdown => mobile view -->
  <section class="category-dropdown">
    <select class="dropdown_select" name="dropdown" [(ngModel)]="selectedCategorykey" (change)="selected()" >
      <option value="" selected disabled hidden>Select a category</option>
      <ng-container *ngFor="let item of Categories">
        <option *ngIf="item.enabled"  [selected]='selectedCategorykey===item.key' [value]="item.key">{{item.name}}</option>
      </ng-container>
     </select>
  </section>

  <!-- products listing / grid view of products -->
  <section class="products-listing">
    <div class="product-item"  *ngFor="let item of products | sortByCategory:selectedCategoryId ">
      <h3 class="item-name">{{ item.name }}</h3>
      <div class="product-desc">
         <img [src]="item.imageURL" alt="item.name">
         <p class="desc">{{item.description}}</p>
      </div>
      <div class="split-btn">
        <p>{{"MRP RS." +item.price }}</p>
        <button (click)="addtoCart(item)">Buy Now</button>
      </div>
      <button class="full-btn" (click)="addtoCart(item)">{{ "Buy Now @ Rs." + item.price }}</button>
    </div>
  </section>
</div>
