.cart-container{
  width: 80%;
  margin: 10px auto;
}
header p{
  padding: 10px;
  box-shadow: 0 4px 6px 1px lightgray;
}

header, .promotion{
  margin: 10px 0px;
}

ul{
  list-style: none;
}

li{
  display: flex;
  width: 100%;
  align-items: center;
  height: 75px;
  box-shadow: 0 4px 6px -3px lightgray;
  margin:10px 0px
}
.itemprice{
  flex-grow: 1;
  text-align: end;
  padding: 15px;
}

img{
  width: 60px;
}


.promotion{
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 14px;
    box-shadow: 0 4px 6px 1px lightgray;
    img{
      width: 90px;
    }
    p{
      padding-left: 10px;
    }
}
.emptycart{
  text-align: center;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 6px 1px lightgray;
  h5 {
    text-align: center;
    color: gray;
    font-weight: 600;
  }
}

.proceed-btn{
  width: 100%;
  display: block;
  padding: 7px;
  background-color: #ba3d50;
  border: none;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.counter-button {
  padding: 0px 5px;
  background-color: #ba3d50;
  border: none;
  color: white;
  margin: 5px 10px;
  cursor: pointer;
}



// Media query to target mobile phone and small screen mobiles
@media only screen and (max-width: 468px) {
  footer {
    width: 100%;
  }
  .cart-container{
    width: 100%;
  }
}


// Media query to target tablets
@media only screen and (max-width: 768px) and (min-width: 468px) {
  footer {
    width: 100%;
  }
  .cart-container{
    width: 100%;
  }
}
