@import "variables";

.cart-container {
  width: 80%;
  margin: 1rem auto;
  font-size: 1.4rem;
}

h1 {
  padding: 1rem;
  box-shadow: 0 .4rem .6rem .1rem $primary-shadow-color;
  font-size: 2rem;
  small {
    font-weight: normal;
  }
}

h1 {
  margin: 1rem 0rem;
}

.emptycart {
  text-align: center;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 80%;
  background-color: white;
  box-shadow: 0 .4rem .6rem .1rem $primary-shadow-color;
  h5 {
    text-align: center;
    color: gray;
    font-weight: 600;
  }
}

.proceed-btn {
  width: 100%;
  display: block;
  padding: .7rem;
  background-color: $primary-bg-color;
  font-size: 1.4rem;
  border: none;
  color: white;
  margin: 1rem auto;
  cursor: pointer;
}

.checkout {
  display: flex;
  justify-content: space-between;
}

// Media query to target tablets
@media only screen and (max-width: 768px) {
  .footer {
    width: 100%;
  }
  .cart-container {
    width: 100%;
  }
}

// Media query to target mobile phone and small screen mobiles
@media only screen and (max-width: 468px) {
}
