<div class="cart-container">
  <!-- Heading of cart -->
  <h1 *ngIf="itemsInCart.length > 0">
    My Cart
    <small>({{ itemsInCart.length + " item" }})</small>
  </h1>

  <!--cart body with cart items -->
  <app-cart-listing [itemsInCart]="itemsInCart"></app-cart-listing>

  <!-- Body of cart without cart items -->
  <section class="emptycart" *ngIf="itemsInCart.length === 0">
    <h3>No Items in your cart</h3>
    <p>Your favourite items are just a click away</p>
  </section>

  <!-- Footer implementation of cart -->
  <section class="footer">
    <h5 *ngIf="itemsInCart.length > 0">
      Promo code can be applied on payment page
    </h5>
    <button
      class="proceed-btn"
      routerLink="/home"
      *ngIf="itemsInCart.length === 0"
      aria-label="cart is empty now. Click to start shopping"
    >
      Start Shopping
    </button>

    <button
      class="proceed-btn checkout"
      routerLink="/home"
      *ngIf="itemsInCart.length > 0"
      attr.aria-label="Proceed to Checkout. cart total is {{ cartValue }}"
    >
      <span>Proceed to Checkout</span>
      <span>{{ "Rs." + cartValue + " >" }}</span>
    </button>
  </section>
</div>
