<div class="cart-container">
  <!-- Heading of cart -->
  <h1 *ngIf="itemsInCart.length > 0">
    My Cart
    <small>({{ itemsInCart.length + " item" }})</small>
  </h1>

  <!--cart body with cart items -->
  <section *ngIf="itemsInCart.length > 0">
    <ul>
      <li *ngFor="let item of itemsInCart">
        <a>
          <img [src]="item.imageURL" [alt]="item.name" />
          <article>
            <p class="product-name">{{ item.name }}</p>
            <section>
              <button
                class="counter-button"
                (click)="Productservice.removedfromcart(item)"
                attr.aria-label="Remove 1 quantity out of {{item.quantity}} of {{item.name}}"
              >
                -
              </button>
              <span>{{ item.quantity }}</span>
              <button
                class="counter-button"
                (click)="Productservice.addedtocart(item)"
                attr.aria-label="Add 1 more {{item.name}}"
              >
                +
              </button>
              <span>x</span>
              <span>{{ "Rs." + item.price }}</span>
            </section>
          </article>
          <section class="itemprice">
            <span>{{ "Rs." + item.price * item.quantity }}</span>
          </section>
        </a>
      </li>
    </ul>
    <!-- promotional Banner below cart items -->
    <aside class="promotion">
      <img
        src="../../../assets/images/lowest-price.png"
        alt="Banner displaying, You wont find it cheaper anywhere"
      />
      <p>You wont find it cheaper anywhere</p>
    </aside>
  </section>

  <!-- Body of cart without cart items -->
  <section class="emptycart" *ngIf="itemsInCart.length === 0">
    <h3>No Items in your cart</h3>
    <p>Your favourite items are just a click away</p>
  </section>

  <!-- Footer implementation of cart -->
  <section class="footer">
    <h5 *ngIf="itemsInCart.length > 0">
      Promo code can be applied on payment page
    </h5>
    <button
      class="proceed-btn"
      routerLink="/home"
      *ngIf="itemsInCart.length === 0"
      aria-label="cart is empty now. Click to start shopping"
    >
      Start Shopping
    </button>

    <button
      class="proceed-btn checkout"
      routerLink="/home"
      *ngIf="itemsInCart.length > 0"
      attr.aria-label="Proceed to Checkout. cart total is {{ cartValue }}"
    >
      <span>Proceed to Checkout</span>
      <span>{{ "Rs." + cartValue + " >" }}</span>
    </button>
  </section>
</div>
