@import 'variables';

footer p{
  width: 80%;
  margin: .5rem auto;
  font-size: 1.4rem;
  font-weight: 600;
  padding: .5rem;
  background-color: $primary-shadow-color;
  text-align: center;
}

// Media query to target tablets
@media only screen and (max-width: 768px) {
  footer p{
    width: 100%;
  }
}
// Media query to target mobile phone and small screen mobiles
@media only screen and (max-width: 468px) {
}


