@import "variables";

ul {
  list-style: none;
}

li a {
  display: flex;
  width: 100%;
  align-items: center;
  height: 7.5rem;
  box-shadow: 0 .4rem .6rem -.3rem $primary-shadow-color;
  margin: 1rem 0rem;
}

.itemprice {
  flex-grow: 1;
  text-align: end;
  padding: 1.5rem;
}

.product-name {
  font-weight: 800;
}

img {
  width: 60px;
}

.promotion {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 1.4rem;
  box-shadow: 0 .4rem .6rem .1rem $primary-shadow-color;
  margin: 1rem 0rem;
  img {
    width: 9rem;
  }
  p {
    padding-left: 1rem;
    font-size: 1.4rem;
  }
}

.counter-button {
  padding: 0rem .5rem;
  background-color: $primary-bg-color;
  border: none;
  color: white;
  margin: .5rem 1rem;
  cursor: pointer;
}

// Media query to target tablets
@media only screen and (max-width: 768px) {
}

// Media query to target mobile phone and small screen mobiles
@media only screen and (max-width: 468px) {
}
