@import "variables";

.login-container {
  width: 70%;
  min-height: 150px;
  margin: 20px auto;
  display: flex;
  grid-gap: 30px;
}
.login-item{
  width: 40%;
  margin-top: 20px;
}

.login-form {
width: 60%;
}

section {
  h3 {
    font-weight: 700;
    font-size: 30px;
  }
  p {
    font-weight: 600;
    font-size: 14px;
  }
}

.email,.password {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: gray;
  margin-top: 10px;
}

input{
  width: 60%;
  border: none;
  outline: none;
  border-bottom: 2px solid $primary-shadow-color;
}


button[type="submit"] {
  display: block;
  width: 60%;
  padding: 7px;
  background-color: $primary-bg-color;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.invalid-feedback{
  font-size: 12px;
  color: red;
}

.is-invalid{
  border-bottom: 1px solid red;
}

// Media query to target mobile phone and small screen mobiles
@media only screen and (max-width: 468px) {
  .login-container {
    width: 100%;
    min-height: 200px;
    margin: auto;
    display: block;
  }

  .login-item{
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .login-form {
  width: 80%;
  margin: auto;
  }

#email,
#password{
  width: 100%;
}

button[type="submit"] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
}

