@import 'variables';

.products-listing {
  display: flex;
  flex-wrap: wrap;
}

.item-name {
  min-height: 10rem;
  font-size: 1.6rem;
  font-weight: 600;
}

p {
  font-size: 1.4rem;
}

.product-desc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  section {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }
}

.desc {
  background-color: $primary-shadow-color;
  padding: 1rem;
  flex-grow: 1;
}

img {
  width: 100%;
  height: 20rem;
}

.product-item {
  width: 33.3%;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 .4rem .6rem .1rem lightgrey;
  display: flex;
  flex-direction: column;
}

button {
  display: block;
  padding: .4rem;
  background-color: $primary-bg-color;
  border: none;
  color: white;
  width: 40%;
  font-size: 1.4rem;
  cursor: pointer;
}

.buynow-desktop-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

.buynow-tablet-btn,
.buynow-mobile-btn {
  display: none;
  width: 100%;
}



@media only screen and (max-width: 962px) {
  .product-item {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}


// Media query to target tablets
@media only screen and (max-width: 768px) {
  .product-item {
    width: 50%;
  }

  .product-desc {
    flex-direction: row;
  }

  .desc {
    background-color: $primary-shadow-color;
    font-size: 1.2rem;
  }

  img {
    width: 50%;
  }
  .buynow-desktop-btn {
    display: none;
  }

  .buynow-tablet-btn {
    display: block;
    margin: .5rem 0rem;
  }
}

// Media query to target mobile phone and small screen mobiles
@media only screen and (max-width: 468px) {
  .buynow-desktop-btn,
  .buynow-tablet-btn {
    display: none;
  }

  .buynow-mobile-btn {
    display: block;
  }

  .product-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .item-name {
    min-height: 5rem;
  }

  .product-desc {
    flex-direction: row;
    section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .desc {
    background-color: $primary-shadow-color;
    flex-grow: 0;
  }

  img {
    width: 50%;
  }
}
